{
  "flutter": {
    "platforms": {
      "android": {
        "default": {
          "projectId": "YOUR_FIREBASE_PROJECT_ID",
          "appId": "YOUR_ANDROID_APP_ID_1_XXXX_ANDROID_XXXX",
          "fileOutput": "android/app/google-services.json"
        }
      },
      "dart": {
        "lib/firebase_options.dart": {
          "projectId": "YOUR_FIREBASE_PROJECT_ID",
          "configurations": {
            "android": "YOUR_ANDROID_APP_ID_1_XXXX_ANDROID_XXXX",
            "ios": "YOUR_IOS_APP_ID_1_XXXX_IOS_XXXX",
            "macos": "YOUR_MACOS_APP_ID_1_XXXX_MACOS_XXXX",
            "web": "YOUR_WEB_APP_ID_1_XXXX_WEB_XXXX",
            "windows": "YOUR_WINDOWS_APP_ID_1_XXXX_WINDOWS_XXXX"
          }
        }
      }
    }
  }
}